{% extends 'layout.html.twig' %}

{# ----------------------------------------------------------------- #}

{% block title %}{% if is_new %}Nueva tarea{% else %}Editar tarea{% endif %}{% endblock %}

{# ----------------------------------------------------------------- #}

{% block container %}

    <h3 class="my-3">{% if is_new %}Crear tarea{% else %}Editar tarea{% endif %}</h3>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    {{ form_start(form, {'attr': {'class':'row g-3', 'autocomplete':'off'}}) }}

        <div class="col-md-4">
            <label for="title" class="form-label">Título</label>
            {{ form_widget(form.title, {'attr':{'class':'form-control' }}) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="w-100"></div>
        
        <div class="col-md-6">
            <label for="description" class="form-label">Descripción</label>
            {{ form_widget(form.description, {'attr':{'class':'form-control' }}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="w-100"></div>
        
        <div class="col-md-6">
            <div class="form-check">
                {{ form_widget(form.isCompleted, {'attr':{'class':'form-check-input' }}) }}
                <label class="form-check-label" for="checkDefault">
                    Completado?
                </label>
            </div>
        </div>

        <div class="w-100"></div>
        
        <div class="col-md-6">
            <label for="user" class="form-label">Usuario</label>
            {{ form_widget(form.createdBy, {'attr':{'class':'form-control' }}) }}
            {{ form_errors(form.createdBy) }}
        </div>

        <div class="col-12">
            <a href="{{ path('task_list') }}" class="btn btn-secondary">Regresar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    {{ form_end(form) }}
    
{% endblock %}

{# ----------------------------------------------------------------- #}

{% block modals %}
{% endblock %}

{# ----------------------------------------------------------------- #}

{% block script %}
{% endblock %}
