{% extends 'layout.html.twig' %}

{# ----------------------------------------------------------------- #}

{% block title %}Lista de tareas{% endblock %}

{# ----------------------------------------------------------------- #}

{% block container %}

    <h3 class="my-3" id="titulo">Tareas</h3>

    <a href="{{ path('task_create') }}" class="btn btn-success">Nueva tarea</a>

    <table class="table table-hover table-bordered my-3" aria-describedby="titulo">
        <thead class="table-dark">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Completado</th>
                <th scope="col">Creado</th>
                <th scope="col">Usuario</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tbody>
            {% for task in arrTask %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{% if task.isCompleted %}<span class="badge text-bg-success">Si</span>{% else %}<span class="badge text-bg-danger">No</span>{% endif %}</td>
                <td>{{ task.createdAt|date("Y-m-d H:i:s") }}</td>
                <td>{{ task.createdBy }}</td>
                <td>
                    <a href="{{ path('task_edit',{'id_task':task.id}) }}" class="btn btn-primary btn-sm me-2">Editar</a>

                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#eliminaModal" data-bs-id="{{ task.id }}">Eliminar</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    
{% endblock %}

{# ----------------------------------------------------------------- #}

{% block modals %}
    
    <div class="modal fade" id="eliminaModal" tabindex="-1" aria-labelledby="eliminaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="eliminaModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Desea eliminar este registro?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-elimina" action="" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{# ----------------------------------------------------------------- #}

{% block script %}
    
<script>

const eliminaModal = document.getElementById('eliminaModal');
if( eliminaModal )
{
    eliminaModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        const id = button.getAttribute('data-bs-id');

        // Update the modal's content.
        const form = eliminaModal.querySelector('#form-elimina')
        form.setAttribute('action', 'elimina.html?id=' + id);
    });
}

</script>
    
{% endblock %}
